/*
PROPRIETARY INFORMATION-- Hotlynx LLC -- Originated by Joe Sulmar.
*/
/* 
    Created on : Nov 22, 2016, 9:57:38 AM
    Author     : Joes
*/


#appliances .recorder {
    color: #666;
    border: 1px solid #009be3;
    padding: 20px;
    background-color: #eee;
    width:440px;
    text-align:center;
}

#appliances .recorder .button{
    margin-top:5px;
    margin-bottom:15px;
}

#appliances .recorder .playback{
    display: inline-block; /* centered within .reorder */
}

#appliances .recorder .playback .jp-audio{
    border: 1px solid #CCCCCC;
}