{#
/**
 * @file
 * Default theme implementation for a test page.
 *
 * Available variables:
 *   - source_text (prepared in  yarm.module file)
 *
 */
#}
<div>
    <p>Twig is working</p>
    <p>(If <span id="test1-css">I'm red</span>, then CSS is working)</p>
    <p>(If <span id="test1-js">I'm blue</span>, then JS is working)</p>
    <p>(If <span id="test1-jQuery">I'm green</span>, then jQuery is working)</p>
    <p>source_text variable: {{ source_text }}</p>
</div>
