{#
/**
 * @file
 * Default theme implementation for a test page.
 *
 * Available variables:
 *   - source_text (prepared in  yarm.module file)
 *
 */
#}

        <section id="appliances">
            <div class="recorder">
                <div class="header">
                    <h2>YARM Recorder</h2>
                </div>
                <div class="controls">
                    <button  class="approval button disabled" disabled>Enable Microphone</button>
                    <button  class="record button disabled" disabled>Record</button>
                    <button  class="stop button disabled" disabled>Stop</button>
                    <button  class="upload button disabled" disabled>Upload</button>
                </div>
                <div class="progress">
                </div>

                <div class="playback">

                </div>
                <div class="footer">
                    <a id="media-save" ></a>
                </div>

            </div>
        </section>

<section class="v-space">
    <h2>Notes</h2>
    <ul>
        <li>provides a basic voice recorder with the ability to playback, save (to workstation), and upload (to host) an .ogg file.</li>
        <li>requires desktop browser Chrome v49+ or Firefox v30+</li>
        <li>requires a local microphone</li>
        <li>for Chrome, a secure origin is required: HTTPS or localhost.</li>

    </ul>
</section>


<section class="v-space log">
    <pre id="log"></pre>
</section>
